<div class="heropage-container">
    <div class="heropage-modules-container">
        <div class="heropage-heading-container">
            <h1>
                We Design & Create Activity Books
            </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor.</p>
            <button onclick="window.location='/shop'">Shop now</button>
        </div>
        <div class="heropage-picture-container">
            <img src="/assets/shop-book.png"/>
        </div>
    </div>
</div>

<div class="custom-shape-divider-top-1715971801">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

<div class="shop-list-align">
    <% for( let index = 0; index < featuredProducts.length; index++ ) { %>
                    
        <div class="shop-product-container">
            <a id="shop-book-link" href="/shop/book/<%= featuredProducts[index]._id %>">
            <div class="shop-product-image-container">
                <img src="<%= featuredProducts[index].image %>"/>
            </div>
            <div class="shop-product-text-container">
                <p><%= featuredProducts[index]._id %></h3></p>
                <h3><%= featuredProducts[index].title %></h3></a>
                <p><%= featuredProducts[index].description %></p>
            </div>
    
            <div class="shop-product-button-container">
                <button id="see-more-book" onclick="window.location='/shop/book/<%= featuredProducts[index]._id %>'">See more</button>
                <% if(cart.some(item => item.id === featuredProducts[index]._id.toString())) { %>
                    <button id="delete-from-cart-book" onclick="window.location='/shop/delete-from-cart/<%= featuredProducts[index]._id %>'">-</button>
                    <% } else {  %>
                <button id="add-to-cart-book" onclick="window.location='/shop/add-to-cart/<%= featuredProducts[index]._id %>'">+</button>                    
                <% } %>
            </div>
        </div>
    
        <% if(featuredProducts.length-1!=index){ %><div class="shop-books-table-line"></div> <% } %>
        
    <% } %>
    
    </div>


<div class="homepage-components-container">

        <div class="homepage-component">
            <img src="/assets/globe.svg" onmouseover="this.src='/assets/globe-active.svg'" onmouseleave="this.src='/assets/globe.svg'"/>
            <h3>3 Million</h3>
            <p>Activity books have been sold all over the world so far.</p>
        </div>
        <div class="homepage-component">
            <img src="/assets/no-one.svg"  onmouseover="this.src='/assets/no-one-active.svg'" onmouseleave="this.src='/assets/no-one.svg'"/>            
            <h3>Best Sellers</h3>
            <p>One of the best adventure sites for activity and workbooks.</p>
        </div>
        <div class="homepage-component">
            <img src="/assets/bulb.svg" onmouseover="this.src='/assets/bulb-active.svg'" onmouseleave="this.src='/assets/bulb.svg'"/>           
             <h3>New Ideas</h3>
            <p>Make activity books interesting with inquisitive thoughts.</p>
        </div>
        <div class="homepage-component">
            <img src="/assets/chat.svg" onmouseover="this.src='/assets/chat-active.svg'" onmouseleave="this.src='/assets/chat.svg'"/>            
            <h3>Communication</h3>
            <p>Through books is the key for learning.</p>
        </div>
    
</div>


<div class="homepage-story-container">

    <div class="homepage-story-text-container">
        <p1>Our Story</p1>
        <h1>Let's Talk About Adventures</h1>
        <p>Started in 2017 as artists, together we have come a long way from making flayers to designing coloring books. It has been a great journey with countless designs and hundreds of publications. Want to join us?</p>
        <button onclick="window.location='/portfolio'">See more</button>
    </div>

    <div class="homepage-story-image-container">
        <img src="/assets/story.png" />
    </div>
</div>


<div class="homepage-story-container">
    <div class="homepage-story-image-container">
        <img src="/assets/write-story.png" />
    </div>
    <div class="homepage-story-text-container">
        <p1>Write Your Adventure</p1>
        <h1>Create Your Book</h1>
        <p>Be the Hero of your own Aventures. Share your stories with us and we will create your custom books with characters and new designs. It can be Great!</p>
        <button id="homepage-write-story-button" onclick="window.location='/contact-us'">Write now</button>
    </div>
</div>


